body{
    background-color:teal ;
    display:flex;
    justify-content: center;
}

#container{
    width: 1000px;
    padding: 10px;
    background-color: gray;

}

header{
    background-color:darkgray;
    
}

nav{
    display: flex;
    justify-content: center;
    width: 100px;
    background-color: honeydew;
}
a:link{
width: 100px;
background-color: gray;
color:white;
text-decoration: none;
}

#content{
    background-color:grey;
    width: 100px;
    padding: 10px;
}
section{
    width: 600px;
    background-color: gray;
}